.btn-primary{
    background-color: green !important;
    padding: 20px;
    display:block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin : 0 auto;
}

.container-caseta{
    height: 500px;
    width: 100%;
    border-radius: 10px;
    border-top: 3px dotted black;
    border-left: 3px dotted black;
    border-bottom: 3px dotted black;
    border-right: 3px dotted black;

}

.salto_linea{
    margin-top: 20px;
}
